@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
/* @tailwind "base";
@tailwind "components";
@tailwind "utilities"; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

ul,
ol,
a,
p {
  text-decoration: none;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}